### En este notebook voy a intentar clasificar las ubicaciones entre validas o no

In [1]:
import pandas as pd
import re
import numpy as np
import pickle
import nltk
import xgboost as xgb
import matplotlib.pyplot as plt
import lightgbm as lgb
from catboost import CatBoostRegressor
from gensim.models import KeyedVectors
from gensim.parsing.preprocessing import STOPWORDS
%matplotlib inline
import spacy


#nltk.download('punkt')

In [52]:
train = pd.read_csv('../csv/train.csv')
test  = pd.read_csv('../csv/test.csv')

In [53]:
train['location'].isnull().mean() # tenemos un 30% de locations que son nul

0.33272034677525286

In [54]:
train['loc_nula'] = train.apply(lambda x: ( 1 if pd.isna(x['location']) else 0  ), axis = 1 )
test['loc_nula'] = test.apply(lambda x: ( 1 if pd.isna(x['location']) else 0  ), axis = 1 )

In [55]:
train.sample(5)

,id,keyword,location,text,target,loc_nula
2220,3177,deluge,"Enniscrone & Aughris, Sligo",Back on the beach after the deluge. Surf camp...,1,0
575,833,bioterror,NaN,USA TODAY: .@FedEx will no longer to transport...,0,1
1977,2844,cyclone,Vilnius,Some drugs and alcohol in Jackson Vroman house...,0,0
2124,3052,death,"Alicante, Spain",New: NYC Legionnaires' disease death toll rise...,1,0
7510,10743,wreckage,WorldWide,#Australia #News ; RT janeenorman: 'High proba...,1,0

In [6]:
### Esto ya lo habiamos hecho, ahora voy a agregar un nuevo 
### feature donde diga si la location es valida o no esto lo hago con spacy

In [7]:
# -m spacy download en_core_web_lg
#https://stackoverflow.com/questions/47793516/finding-city-names-in-string
nlp = spacy.load('en_core_web_lg')

In [56]:
doc = nlp('israel palestina')

In [57]:
for ent in doc.ents:
    print(ent.text, ent.label_)

israel GPE

In [58]:
def es_geo(palabra, nlp):
    doc = nlp(palabra)
    for ent in doc.ents:
        if (ent.label_ == 'GPE'):
            return True
    return False

In [78]:
es_geo( 'eeuu' , nlp)

True

In [60]:
ubicaciones_train = train['location'].copy()
ubicaciones_train = ubicaciones_train.fillna("invalida")
#ubicaciones_train = ubicaciones_train.apply(lambda x: re.sub('[^A-Za-z0-9]+', '_', x) )
#ubicaciones_train  = ubicaciones_train.apply(lambda x: x.split('_') )
ubicaciones_train.sample(3)

1679                New York
4571    Saskatchewan, Canada
3120      Newcastle, England
Name: location, dtype: object

In [62]:
valida = []
for ubicacion in ubicaciones_train:
    estado = 0
    if( es_geo(ubicacion,nlp) ):
        estado = 1
            
    valida.append(estado)

In [63]:
train['loc_valida'] = valida

In [84]:
valida = []
for ubicacion in ubicacion_test:
    estado = 0
    if( es_geo(ubicacion,nlp) ):
        estado = 1
            
    valida.append(estado)

In [85]:
test['loc_valida'] = valida

In [86]:
train.to_csv('../csv/train_loc_spacy.csv')
test.to_csv('../csv/test_loc_spacy.csv')

In [89]:
test.sample(15)

,id,keyword,location,text,loc_nula,loc_valida
1297,4277,drowning,NaN,I have the experience performing cpr on a actu...,1,0
1648,5550,flattened,"Hermiston, Oregon",I see a flattened Cyberman. Do I watch way too...,0,1
2509,8358,ruin,NaN,My sister really always has to ruin my life.,1,0
727,2365,collapsed,NaN,I used to have a good time from June to about ...,1,0
413,1336,blown%20up,NaN,@SassyNreal Agreed. Whole thing has blown up i...,1,0
2587,8616,seismic,United Kingdom,Exploration takes seismic shift in Gabon to So...,0,1
3059,10134,upheaval,NaN,Permutable site conspiracy up-to-the-minute up...,1,0
2816,9357,survived,behind them oranges,Lets see how long i survived b4 i fall back to...,0,0
1397,4613,emergency%20services,UK.,Call for Tasmania's emergency services to be t...,0,1
2113,7083,meltdown,"Tuksa, OK",@ChelseaVPeretti's bit on @meltdown_show was a...,0,0
2016,6782,lightning,"Philadelphia, PA",Two Films From Villanova University Students S...,0,1
654,2137,catastrophe,London UK,Gaza 2014 - The Summer of Catastrophe https://...,0,1
2298,7682,panic,NaN,someone hold my hand and tell me ITS OKAY beca...,1,0
1142,3769,destruction,The Floor,We should do a hand in the destruction of an I...,0,0
155,510,army,#Capulets #5SOSfam #5quadfam,5 Seconds of Summer Is my pick for http://t.co...,0,0

In [90]:
train.sample(15)

,id,keyword,location,text,target,loc_nula,loc_valida
7362,10541,windstorm,NaN,Texas Seeks Comment on Rules for Changes to Wi...,0,1,0
2878,4138,drought,Philadelphia,California meets drought-fueled fire season wi...,1,0,1
2947,4238,drowned,"San Francisco, CA",80 tons of cocaine worth 125 million dollars d...,1,0,1
4087,5808,hail,"Brasil, Fortaleza ce",Seen on Fahlo:#WCW All Hail the QueenåÊ?? http...,0,0,1
2764,3970,devastation,"Victoria, British Columbia",@Pam_Palmater i agree with @perrybellegarde to...,1,0,1
5703,8138,rescued,Canada,Angry Mistrustful Rescued Elephant Finds Peace...,0,0,1
4774,6793,lightning,Reddit,Lightning strike in the distance via /r/pics h...,1,0,0
6741,9659,tornado,God is Love.,My room looks like a tornado passed through it...,0,0,0
2589,3717,destroyed,"Surulere Lagos,Home Of Swagg",Flood: Two people dead 60 houses destroyed in ...,1,0,1
484,700,attacked,"Los Angeles, CA",@envw98 @NickCoCoFree @JulieDiCaro @jdabe80 I ...,0,0,1
5269,7531,oil%20spill,"Los Angeles, CA",Refugio oil spill may have been costlier bigge...,1,0,1
7279,10419,whirlwind,Las Vegas,Whirlwind Head Scissor on @alexhammerstone @kt...,0,0,1
3896,5540,flattened,NaN,Would've been great if Mbiwa just flattened th...,0,1,0
5409,7720,panicking,"Melbourne, Victoria",Panicking because maybe my bff left me at Chin...,0,0,1
2797,4024,disaster,NaN,TV: Vitaly Churkin Briliantly Exposes the Hypo...,1,1,0